
use std::mem::size_of_val;

fn main() {
    q1();
    q2();
    q3();
    q4();
    q5();
    q6();
}

fn q1() {
    let c1 = 'a';
    assert_eq!(size_of_val(&c1),1); 

    let c2 = '中';
    assert_eq!(size_of_val(&c2),3); 

    println!("Success!");
}


fn q2() {
    let c1 = "中";
    print_char(c1);
}
fn print_char(c : char) {
    println!("{}", c);
}

fn q3() {
    let _f: bool = false;

    let t = false;
    if !t {
        println!("Success!");
    }
}
fn q4() {
    let f = true;
    let t = true || false;
    assert_eq!(t, f);
    println!("Success!");
}
fn q5() {
    let v0: () = ();

    let v = (2, 3);
    assert_eq!(v0, implicitly_ret_unit())
    println!("Success!");
}

fn implicitly_ret_unit() {
    println!("I will returen a ()")
}

// don't use this one
fn explicitly_ret_unit() -> () {
    println!("I will returen a ()")
}


fn q6() {
    let unit: () = ();
    // unit type does't occupy any memeory space
    assert!(size_of_val(&unit) == 0);
    println!("Success!");
}